body { background: #bec450; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 16px; display: flex; }
.block-metrics-0 { color: #d9880b; font-size: 20px; margin-bottom: 5px; }
.block-notify-1 { color: #bb5f70; font-size: 15px; margin-bottom: 5px; }
.block-search-2 { color: #b7a565; font-size: 19px; margin-bottom: 5px; }
.block-helper-3 { color: #83b88d; font-size: 19px; margin-bottom: 5px; }
.block-database-4 { color: #3e8510; font-size: 18px; margin-bottom: 5px; }
.block-payment-5 { color: #78c359; font-size: 18px; margin-bottom: 5px; }